<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="description" content="Three.js animated cube" />
        <title>Three.js animated cube</title>
		<link type="text/css" href="/css/index.css" rel="stylesheet"/>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
	</head>
	<body>
		<script src="/js/index.js"></script>
	</body>
</html>