.generation{
    width: auto;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;   

    text-align: center;
}

.logo{
    margin-top: 5%;
    width: 30%;
    height: auto;
}

.generation-form{
    margin-left: auto;
    margin-right: auto; 
}

.generation-input{
    text-align: center;

    margin-top: 10px;

    width: 45%;
    height: 35px;

    font-size: medium;

    border: 2px solid black;
    border-radius: 5px;
}

.button-input{
    text-align: center;

    margin-top: 10px;

    width: 6%;
    height: 40px;

    font-size: medium;

    border: 2px solid black;
    border-radius: 5px;
}

.about{
    margin-top: 4%;
    display: block;

    margin-left: 22%;
    margin-right: auto;   
}

.about-div{
    float: left;

    margin-right: 5%;
    margin-bottom: 2%;
  
    text-align: center;

    width: 34%;
    height: 70%;

    font-size: medium;

    border: 2px solid black;
    border-radius: 5px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }