body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
}

.chat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.search-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #eee;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
}

.search-container button {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
}

.search-container button:hover {
  background-color: #3e8e41;
}

.canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 80%;
  height: 80%;
  background-color: #333;
}