.index{
    width: auto;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;   

    text-align: center;
}

.logo{
    margin-top: 5%;
    width: 30%;
    height: auto;
}

.index-form{
    margin-left: auto;
    margin-right: auto; 
}

.generation-input{
    text-align: center;

    margin-top: 10px;

    width: 45%;
    height: 35px;

    font-size: medium;

    border: 2px solid black;
    border-radius: 5px;
}

.button-input{
    text-align: center;

    margin-top: 10px;

    width: 6%;
    height: 40px;

    font-size: medium;

    border: 2px solid black;
    border-radius: 5px;
}

.about{
    margin-top: 4%;
    display: block;

    margin-left: 22%;
    margin-right: auto;   
}

.about-div{
    float: left;

    margin-right: 5%;
    margin-bottom: 2%;
  
    text-align: center;

    width: 34%;
    height: 70%;

    font-size: medium;

    border: 2px solid black;
    border-radius: 5px;
}