.login{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;   
    text-align: center;
}

.title{
    margin-top: -10px;
}

.logo{
    margin-top: 7%;
    width: 30%;
    height: auto;
}

.login-form{
    border: 2px solid black;
    border-radius: 7px;
    width: 30%;

    margin-left: auto;
    margin-right: auto; 
}

.mail-form-input{
    margin-top: 20px;

    width: 300px;
    font-size: medium;
    border: 2px solid black;
    border-radius: 7px;
}

.psw-form-input{
    margin-bottom: 20px;

    width: 300px;
    font-size: medium;
    border: 2px solid black;
    border-radius: 7px;
}

a{
    color: black;
}

button{
    margin-bottom: 20px;

    width: auto;
    font-size: medium;
    border: 2px solid black;
    border-radius: 7px;
}