<!DOCTYPE html>
<html>
<head>
	<title>Nerve Vision | Generate</title>
	<link type="text/css" href="/css/generation.css" rel="stylesheet"/>
	<link type="text/css" href="/css/main.css" rel="stylesheet"/>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generation">Generate</a></li>
        <li><a href="/about">About</a></li>
        <li class="signup"><a href="/logout">Log Out</a></li>
    </ul>

    <div class="generation">
        <img class="logo" src="/images/logo.png">

        <br><br>
        
        <form class="generation-form" method="post">
            <input autocomplete="off" class="generation-input" name="input" placeholder="There is no limit to your imigination" required>
            <button class="button-input">Generate</button>
        </form>

        <form class="about">
            <div class="about-div">
                <h4 class="about-text">Generate everything you love</h4>
            </div>

            <div class="about-div">
                <h4 class="about-text">Generate everything you love</h4>
            </div>

            <div class="about-div">
                <h4 class="about-text">Generate everything you love</h4>
            </div>

            <div class="about-div">
                <h4 class="about-text">Generate everything you love</h4>
            </div>

            <div class="about-div">
                <h4 class="about-text">Generate everything you love</h4>
            </div>

            <div class="about-div">
                <h4 class="about-text">Generate everything you love</h4>
            </div>
        </form>
    </div>
</body>
</html>