<!DOCTYPE html>
<html>
<head>
	<title>Nerve Vision | Generate</title>
	<link type="text/css" href="/css/generation.css" rel="stylesheet"/>
	<link type="text/css" href="/css/main.css" rel="stylesheet"/>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generation">Generate</a></li>
        <li><a href="/about">About</a></li>
        <li class="signup"><a href="/logout">Log Out</a></li>
        <li id="download" class="signup"><a href="/download">Download</a></li>
    </ul>

    <div id="loader" class="loader"></div>

    <canvas style="width: 100%; height: 100%; margin: auto; background-color: white;" id="canvas"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/three@0.131.2/build/three.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/three@0.131.2/examples/js/loaders/OBJLoader.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/three@0.131.2/examples/js/loaders/MTLLoader.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/three@0.131.2/examples/js/controls/OrbitControls.js"></script>

    <script src="/js/generation.js"></script>

    <script>
        document.getElementById('canvas').style.visibility = "hidden";
        document.getElementById('download').style.visibility = "hidden";

        function doesFileExist(urlToFile)
        {
            var xhr = new XMLHttpRequest();
            xhr.open('HEAD', urlToFile, false);
            xhr.send();

            if (xhr.status == "404") {
                return false;
            } else {
                return true;
            }
        }

        async function check(){
            if(doesFileExist("generations/" + "<%= random %>" + "/model.obj"))
            {
                if(doesFileExist("generations/" + "<%= random %>" + "/model.mtl"))
                {
                    if(doesFileExist("generations/" + "<%= random %>" + "/modeltexture1.png"))
                    {
                        document.getElementById('canvas').style.visibility = "visible";
                        document.getElementById('download').style.visibility = "visible";
                        document.getElementById("loader").remove();
                        await loadModel("generations/generation_" + "<%= random %>" + ".obj");
                        clearInterval(interval)
                    }
                }
            }
        }

        var interval = setInterval(check, 1000);

    </script> 

</body>
</html>