<!DOCTYPE html>
<html>
<head>
	<title>Nerve Vision | Home</title>
	<link type="text/css" href="/css/generation.css" rel="stylesheet"/>
	<link type="text/css" href="/css/main.css" rel="stylesheet"/>
	<link type="text/css" href="/css/index.css" rel="stylesheet"/>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generation">Generate</a></li>
        <li><a href="/about">About</a></li>
        <li class="signup"><a href="/login">Login</a></li>
    </ul>

    <div class="parent" style="top:50%; transform: translate3d(0%,-55%, 0); position: absolute;">
        <div class="child" style="width: 50%;">
            <h1 class="title">Introducing Nervision</h1>

            <p class="info">Our idea is a website that utilises natural language processing to allow users to create a 3D model by simply describing what they want. The website would have a vast library of 3D scenery, including terrain; structures; vegetation; and more. Users could describe the environment they want in a text input, and the website would automatically generate the desired 3D scenery. The website could also take into account the attributes of the desired environment such as the weather, time of day and season. This would be a game-changer for the industry as it would greatly simplify the process of creating large 3D models, making it accessible to a wider range of users.</p>
            <button class="try-out"><a style="text-decoration: none; color: black;" href="/generation">Try Nervision</a></button>
        </div>

        <div class="child" style="width: 45%;">
            <div class="slideshow-container">
                <br><br><br><br><br><br>

                <div class="mySlides fade">
                  <img src="https://i.all3dp.com/wp-content/uploads/2020/02/25174355/Wireframe.png" style="width:100%">
                </div>
                
                <div class="mySlides fade">
                  <img src="https://i.all3dp.com/wp-content/uploads/2020/02/25174355/Wireframe.png" style="width:100%">
                </div>
                
                <div class="mySlides fade">
                  <img src="https://i0.wp.com/news.productioncrate.com/wp-content/uploads/2022/02/FREE_3D_MODELS_THUMBNAIL.jpg?fit=1030%2C579&ssl=1" style="width:100%">
                </div>
                
            </div>
        </div>
    </div>

    <script>
        let slideIndex = 0;
        showSlides();
        
        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}    
   
          slides[slideIndex-1].style.display = "block";  

          setTimeout(showSlides, 2000); 
        }
    </script>
</body>
</html>