<!DOCTYPE html>
<html>
<head>
	<title>Nerve Vision | Generate</title>
	<link type="text/css" href="/static/css/generation.css" rel="stylesheet"/>
	<link type="text/css" href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generation">Generate</a></li>
        <li><a href="/about">About</a></li>
        <li class="signup"><a href="/logout">Log Out</a></li>
        <li class="signup"><a href="/download">Download</a></li>
    </ul>

    <canvas style="width: 50%; height: 50%; margin: auto; background-color: white;" id="canvas">
    </canvas>

    <script src="https://cdn.jsdelivr.net/npm/three@0.131.2/build/three.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/three@0.131.2/examples/js/loaders/GLTFLoader.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/three@0.131.2/examples/js/controls/OrbitControls.js"></script>

    <script src="/static/js/generation.js"></script>
</body>
</html>