<!DOCTYPE html>
<html>
<head>
	<title>Nervision</title>
	<link type="text/css" href="static/css/generation.css" rel="stylesheet"/>
	<link type="text/css" href="static/css/main.css" rel="stylesheet"/>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>
</head>
<body>
	<a class="download-button" href="/download" style="text-decoration: white;">Download Model</a>
	
    <model-viewer id='canvas' src={{ url }} shadow-intensity="0" camera-controls touch-action="pan-y"  style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></model-viewer>
</body>
</html>