<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APE 3D Model Generator</title>
    <link type="text/css" href="/static/css/generate.css" rel="stylesheet"/>

  </head>
  <body>

    <div class="container">
      <h1>APE 3D Model Generator</h1>

      <form method="post" action="/generate">
        <div class="input-section">
          <label for="prompt">Enter the prompt for the 3D model:</label>
          <input name="prompt" type="text" id="prompt" placeholder="e.g. chair">
          <br>
          <button id="generate-button">Generate Model</button>
        </div>

        <div id="result">

        </div>
      </form>

    </div>

  </body>
</html>