<!DOCTYPE html>
<html>
<head>
	<title>Nervision</title>
	<link type="text/css" href="static/css/index.css" rel="stylesheet"/>
	<link type="text/css" href="static/css/main.css" rel="stylesheet"/>
</head>
<body>

    <form action="/generate" class="generation" method="post">
        <img class="logo" src="static/images/logo.png">

        <br><br>
        
        <input autocomplete="off" class="generation-input" name="object" placeholder="Object you want to generate" required>
        <button class="button-input">Generate</button>
    </form>

</body>
</html>
