<!DOCTYPE html>
<html>
<head>
	<title>Nerve Vision | Home</title>
	<link type="text/css" href="/static/css/index.css" rel="stylesheet"/>
	<link type="text/css" href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
    <div class="index">
        <img class="logo" src="/static/images/logo.png">

        <form class="index-form">
            <input class="mail-form-input" placeholder="There is no limit to your imigination" required>
        </form>

        <form class="">

        </form>

    </div>
</body>
</html>