<!DOCTYPE html>
<html>
<head>
	<title>Nerve Vision | Login</title>
	<link type="text/css" href="/static/css/login.css" rel="stylesheet"/>
	<link type="text/css" href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/generation">Generate</a></li>
        <li><a href="/about">About</a></li>
        <li class="signup"><a href="/login">Login</a></li>
    </ul>
    
    <div class="login">
        <img class="logo" src="/static/images/logo.png">

        <br><br>

        <h3 class="title">Signup</h3>

        <br>

        <form class="login-form" method="post">
            <input class="mail-form-input" name="mail" placeholder="E-Mail" type="email" required>
            <br>
            <br>
            <input type="password" class="psw-form-input" name="psw" placeholder="Password">
            <br>
            <button>Signup</button>
        </form>

        <p>Already have an account? <a href="/login">Login</a></p>

    </div>
</body>
</html>